.form
{
    background-color: pink;
    margin-top:60px;
    margin-left: 15px;
    padding:10px;
    float: left;
    width:400px;
    height:600px;
}
.form-group{
    font-size:22px;
    padding-bottom:20px;
}
.form-control{
    height:60px;
}
.btn
{
    color: white;
    margin: 20px;
    margin-left: 100px;
    margin-bottom: 40px;
    background-color: brown;
    border: 2px solid  white;
    
    
}